<div class="row">
  <!-- checkbox example -->
  <div class="col-lg-3">
    <h3> Checkbox Example</h3>
    <mat-checkbox #showDiv [value]="value" [checked]="isChecked" (change)="onChange($event)"> Show
    </mat-checkbox>
    <div *ngIf="showDiv.checked"> Show Details </div>
  </div>
  <div class="col-lg-3">
    <!-- Radio button example -->
    <h3> Radio Button Example</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button> &nbsp;&nbsp;&nbsp;
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-lg-3">
    <!-- Drop Down example -->
    <h4>Basic mat-select</h4>
    <mat-form-field appearance="fill">
      <mat-label>Favorite fruit</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-3">
    <!-- Input tag example -->
    <h4>form Input </h4>
    <mat-form-field appearance="legacy">
      <mat-label>User email</mat-label>
      <input ngModel #useremail="ngModel" name="useremail" matInput placeholder="Placeholder" required>
      <mat-icon matSuffix>@domain.com</mat-icon>
      <mat-error *ngIf="useremail.invalid && useremail.errors"> user email is required</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <!-- Text Area tag example -->
    <h4>Text Area Example</h4>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput cols=10 rows="5" placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </div>
  <div class="col-lg-3">
    <!-- calender example -->
    <h4>Custom calender Example</h4>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Inherited calendar color</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <!-- <mat-datepicker #picker1 touchUi="true"></mat-datepicker> for better ui for small screens--> 
    </mat-form-field>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>