<div class="row">
  <!-- checkbox example -->
  <div class="col-lg-3">
    <h3> Checkbox Example</h3>
    <mat-checkbox #showDiv [value]="value" [checked]="isChecked" (change)="onChange($event)"> Show
    </mat-checkbox>
    <div *ngIf="showDiv.checked"> Show Details </div>
  </div>
  <div class="col-lg-3">
    <!-- Radio button example -->
    <h3> Radio Button Example</h3>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button> &nbsp;&nbsp;&nbsp;
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-lg-3">
    <!-- Drop Down example -->
    <h4>Basic mat-select</h4>
    <mat-form-field appearance="fill">
      <mat-label>Favorite fruit</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-3">
    <!-- Input tag example -->
    <h4>form Input </h4>
    <mat-form-field appearance="legacy">
      <mat-label>User email</mat-label>
      <input ngModel #useremail="ngModel" name="useremail" matInput placeholder="Placeholder" required>
      <mat-icon matSuffix>@domain.com</mat-icon>
      <mat-error *ngIf="useremail.invalid && useremail.errors"> user email is required</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <!-- Text Area tag example -->
    <h4>Text Area Example</h4>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput cols=10 rows="5" placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </div>
  <div class="col-lg-3">
    <!-- calender example -->
    <h4>Custom calender Example</h4>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>calendar color</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <!-- <mat-datepicker #picker1 touchUi="true"></mat-datepicker> for better ui for small screens  -->
    </mat-form-field>
  </div>
  <div class="col-lg-3">
    <!-- icon example -->
    <h4>Icon Example</h4>
    <i class="material-icons md-48">face</i>
  </div>
  <div class="col-lg-3">
    <!-- button example -->
    <h4>Button Example</h4>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
    <section>

      <div class="example-button-row">
        <div class="example-flex-container">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
          <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <!-- Chips example -->
    <h4>Chips Example</h4>
    <mat-chip-list>
      <mat-chip *ngFor="let c of chipsEg" (click)="onSelectChips(c)" [selected]="c.selected"> {{ c.name | uppercase }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="col-lg-3">
    <!--  Progress spinner  example -->
    <h4>Basic Progress spinner Example</h4>
    <mat-spinner mode="determinate" [value]="progress"></mat-spinner>
    <!-- <mat-progress-spinner mode='indeterminate'></mat-progress-spinner> -->
  </div>
  <div class="col-lg-3">
    <!-- Tooltip example -->
    <h4>Tooltip Example</h4>
    <button mat-raised-button matTooltip="Tooltip information"
      aria-label="Button that displays a tooltip that has custom delays through a default config">
      Button
    </button>
  </div>
  <div class="col-lg-3">
    <!-- Tabs example -->
    <h4>Tabs Example</h4>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">dashboard</mat-icon>
          First
        </ng-template>
        Content 1
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">home</mat-icon>
          Second
        </ng-template>
        Content 2
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">edit</mat-icon>
          Third
        </ng-template>
        Content 3
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>